    /* button {
        margin: 10px 10px 10px 10px;
    } */
    /* div{
        padding: 5px;
    } */

    .layui-icon-home{
    font-size: 30px;
    }


    input{
        padding: 4px 10px 4px 10px ;
        width: 200px;
    }


    .gl-main{
        padding: 100px 0px 100px 0px;
    }

    .top_nav{
        position: fixed;
        top: 0px;
        height: 50px;
        width: 100%;
        padding: 2px 10px 2px 10px ;

    }

    .bottom_nav{
        position: fixed;
        bottom: 10px;
        right: 20px;
        width: 150px;
        height: 100px;
        text-align: center;
    }

    .round{

    }




    body {
        background-color: aliceblue;
    }
    
    .pic_div {
        /* margin: 10px 10px 30px 10px; */
        /* padding: 3px 3px 3px 3px; */
        /* width: 300px; */
        /* height: 250px; */
        background-color: white;
        box-shadow: 0px 0px 3px 0px black
    }

    /* .pic_div img{
        width: 400px;
        height: 300px;
    } */

    .name {
        padding-top: 5px;
        font-size: 20px;
        text-align: center;
    }

    .pictures {
        padding: 10px 5px 10px 5px;
    }

    /* xiao */
    @media screen and (max-width: 1000px) {
        .gl-main {
            display: inline-block;
            width: 100%;
        }

        .pictures {
            text-align: center;
            margin: 0 auto;
        }

        .pic_div {
            display: inline-block;
        }

        /* .bottom_nav{
            position: fixed;
            bottom: 10px;
            right: 10px;
            width: 100px;
            text-align: center;
            /* height: 100px; */
            background: #fff;

        } */

        .prev_page , .next_page{
            display: inline;
            width: 20px;

        }

    }

    /* da */
    @media screen and (min-width: 1500px) {
        .gl-main {
            width: 1500px;
            margin: 10px auto;
        }

        .pic_div {
            display: inline-table;
        }

        .pictures {
            width: 1300px;
            margin: 0 auto;
        }

    }