{% macro video_card(item) -%}
<div class="card_div">
    <div class="pic_div" data="{{ item }}">
        <a onclick="navito( '{{ item.filepath }}' );" target="videoplay">
            <img class="poster" lay-src="{{img_base_url}}/{{ item.name }}.jpg" width="400px" height="225px">
        </a>
    </div>
    <div class="name_div">
        <h1 class="name">{{ item.name }}</h1>
    </div>
    <div class="tag_div">

        <span class="layui-breadcrumb" lay-separator="|">
            {% for tag in item.tags %}
            <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary">{{ tag.tagname
                }}</button>

            {% endfor %}

        </span>
        <button type="button" class="layui-btn layui-btn-radius layui-btn-danger add-btn"
            onclick="toggle_hidden('{{ item.name_id }}_tag_input_div');">+</button>
    </div>
    <div class="tag_input_div hide_cls" id="{{ item.name_id }}_tag_input_div">

        <input type="text" id="{{ item.name_id }}addtag" required lay-verify="required" placeholder="请输入标题"
            autocomplete="off" class="layui-input">

        <button type="button" class="layui-btn layui-btn-radius layui-btn-danger"
            onclick="addtag({{ item.name_id }},document.getElementById('{{ item.name_id }}addtag').value);">添加</button>
    </div>

    <!-- <div class="action_div">
        <div class="layui-btn-group">
            <button type="button" class="layui-btn layui-btn-sm" onclick="">
                <i class="layui-icon">添加标签</i>
            </button>
            <button type="button" class="layui-btn layui-btn-sm">
                <i class="layui-icon">&#xe642;</i>
            </button>
            <button type="button" class="layui-btn layui-btn-sm">
                <i class="layui-icon">&#xe640;</i>
            </button>
            <button type="button" class="layui-btn layui-btn-sm">
                <i class="layui-icon">&#xe602;</i>
            </button>
        </div>
    </div> -->

</div>
{%- endmacro %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>


    <link rel="stylesheet" href="{{url_for('static',filename='./layui/css/layui.css')}}">

    <script src="{{url_for('static',filename='./layui/layui.all.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='./css/page_base.css')}}">

    <!-- <script language="JavaScript" type="text/javascript" src="{{url_for('static',filename='jquery-3.3.1.js')}}"></script>

        <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">

        <script language="JavaScript" type="text/javascript" 
        src="{{url_for('static',filename='main.js')}}"></script> -->
    <!-- //设置走最佳浏览器 -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- //设置页面宽度等于设备宽度，并且不可以放大  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <script>
        function toggle_hidden(id) {
            var classVal = document.getElementById(id).getAttribute("class");
            if (classVal.includes("hide_cls")) {
                classVal = classVal.replace("hide_cls", "");

            }
            else {
                classVal = classVal.concat("hide_cls");

            }
            document.getElementById(id).setAttribute("class", classVal);

        }
        function addtag(name_id, tag_name) {
            $.ajax({
                url: "/api/v1/add_tag",
                type: "post",
                data: { "name_id": name_id, "tag_name": tag_name },
                dataType: "json",
                success: function (data) {
                    console.log(data)
                }

            })
        }



        var navito = (url) => {
            window.open("http://" + window.location.hostname + ":8000/" + url, "videos");

        };
        var minHeight = 225;
        var minWidth = 400;


        function img_size_suite() {
            document.querySelectorAll("img.poster").forEach(element => {
                if (window.innerWidth < 400) {
                    minWidth = window.innerHeight - 40;
                    minHeight = minWidth * (225 / 400)
                }
                element.width = minWidth;
                element.height = minHeight;
            });
        }


        window.onresize = img_size_suite
        window.onload = img_size_suite


    </script>
    {% block head%}{% endblock %}

</head>
{% block before_body%}{% endblock %}

<!-- <body background="{{url_for('static',filename='bg.jpg')}}"> -->

<body>
    <div class="navigation static_top" width="100%">

        <ul class="layui-nav" lay-filter="">

            <li class="layui-nav-item">
                <a href="{{ url_for('page_view') }}">分页</a>
            </li>
            <li class="layui-nav-item">
                <a href="{{ url_for('all_video_view') }}">全部</a>
            </li>
            <li class=" layui-nav-item">
                <a href="javascript:;">标签</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd><a href="">移动模块</a></dd>
                    <dd><a href="">后台模版</a></dd>
                    <dd><a href="">电商平台</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <input type="text" name="title" class="searchBox" required lay-verify="required" placeholder="搜索标签"
                    autocomplete="off" class="layui-input">
            </li>


        </ul>
    </div>
    <div class="place_div"></div>
    <div class="gl-main">
        {% block body%}
        {% endblock %}

    </div>
    <div class="place_div"></div>




    <script>
        var form = layui.form;
        form.render();

        var element = layui.element;
        element.init();

        var layer = layui.layer;
        var $;

        layui.use(['flow', 'jquery'], function () {
            $ = layui.jquery;
            var flow = layui.flow;
            //当你执行这样一个方法时，即对页面中的全部带有lay-src的img元素开启了懒加载（当然你也可以指定相关img）
            flow.lazyimg();
        });
    </script>
</body>
{% block after_body%}
{% endblock %}

</html>